{% extends 'base.html'%}

{% block content %}
<div class="container">

<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Except -->
      <a href="#!" class="green-text">
        <h3 class="h6 pb-1"><i class="fas fa-user-cog"></i> {{user.username| capitalize}} </h3>
      </a>

      <h4 class="h4 mb-4" style='text-decoration:underline;'>My Bio...</h4>

       {% if user.bio %}

      <p class="font-weight-normal">{{user.bio| capitalize}}</p>
      {% else %}
      <p class="font-weight-normal">You have No Bio.</p>

       {% endif %}

      <p class="font-weight-normal"><a><strong>Last Edit :</strong></a> 19/08/2016</p>

      <a href="{{url_for('main.update_bio',uname=user.username)}}" class="btn btn-success">Edit Bio</a>
      <a href="{{url_for('main.update_profile',uname=user.username)}}" class="btn btn-success">New Pitch</a>
     
      {% if user == current_user %}
        <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">
      <input type="file"  name="photo" class="form-group" required><br>
      <input class='form-group' type='submit'>
      </form>
      {% endif %}
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->

<h2 class='amber-text' style='text-decoration:underline;'>My Pitches</h2>
 {% if current_user %}
{% for items in pitch[::-1] %}

<div class="container">
  <div class='row'>
  <div class='col-sm-9 col-md-9 col-lg-9'>
  
<!-- Card -->
<div class="card card-cascade wider">

  <!-- Card image -->
  <div class="view view-cascade gradient-card-header peach-gradient">

    <!-- Title -->
    <h2 class="card-header-title text-center mb-3">{{items.author.username| capitalize}}</h2>
    <!-- Text -->
    <p class="text-center mb-0"><i class="fas fa-calendar mr-2"></i>{{items.posted.strftime('%Y-%m-%d')}}</p>
    <p class="text-center mb-0"><i class="fas fa-list mr-2"></i>{{items.category}}</p>

  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Text -->
    <h4 class="card-text text-dark">{{items.pitch}}</h4>
    <!-- Link -->
    <a href="{{url_for('main.leave_comment', pitch_id = items.id)}}" class="orange-text d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Comments<i class="far fa-comments ml-2"></i></h5>
    </a>

  </div>
  <!-- Card content -->

</div>
<!-- Card -->

</div>
</div>
</div>
<br>
{% else%}
  <h4 class='text-center'>You have no pitches </h4>
{% endfor %}

{% endif %}
</div>

{% endblock %}