{% extends 'base.html'%}

{% block content %}
<div class="container">

<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Except -->
     
        <h3 style="color: rgb(0, 132, 255); text-decoration: underline; font-family: 'Righteous', cursive;"> Welcome {{user.username| capitalize}} </h3>

      <h4 class="h4 mb-4">My Pitchpose Bio...</h4>

       {% if user.bio %}

      <p class="font-weight-normal">{{user.bio| capitalize}}</p>
      {% else %}
      <p class="font-weight-normal">You have No Bio.</p>

       {% endif %}


      <a href="{{url_for('main.update_bio',uname=user.username)}}" class="btn btn-primary">Edit Bio</a>
      <a href="{{url_for('main.update_profile',uname=user.username)}}" class="btn btn-primary">New Pitch</a>
     
     
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->

<h3 class='mb-2' style="margin-left: 15px; font-family: 'Righteous', cursive;">My Pitches</h3>
 {% if current_user %}
{% for items in pitch[::-1] %}

<div class="container">
  <div class='row'>
  <div class='col-sm-9 col-md-9 col-lg-9'>
  
<!-- Card -->
<div class="card card-cascade wider text-white"  
style=" font-family: 'Lobster Two', cursive; margin: auto; background-image: url(https://media.istockphoto.com/photos/star-field-at-night-picture-id501655522?b=1&k=20&m=501655522&s=170667a&w=0&h=yxV0H4RLzwn_roNsSxejPhL0JAQl7YGguAeL1PtniZw=);
  background-position: center center;background-size: cover;background-repeat: no-repeat; opacity: 0.75; border: 1.8px solid rgb(31, 98, 243); "> >

  <!-- Card image -->
  <div class="view view-cascade gradient-card-header peach-gradient">

    <!-- Title -->
    <h3 class="card-header-title text-center mb-3">{{items.author.username| capitalize}}</h3>
    <!-- Text -->
    <p class="text-center mb-0"><i class="fas fa-calendar mr-2"></i>{{items.posted.strftime('%Y-%m-%d')}}</p>
    <p class="text-center mb-0 fs-5"><i class="fs-5 mr-2"></i>{{items.category}}</p>

  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Text -->
    <h4 class="card-text text-white">{{items.pitch}}</h4>
    <!-- Link -->
    <a href="{{url_for('main.leave_comment', pitch_id = items.id)}}" class="align-items-center">
      <h5>Comments</h5>
    </a>
    <div class="row display-flex">
      <a class="fs-5 col-md-7"  href="" >Upvotes 0</a>
      <a class="fs-5 col-md-3" href="" >Downvotes 0 </a>
    </div>
  </div>
  <!-- Card content -->

</div>
<!-- Card -->

</div>
</div>
</div>
<br>
{% else%}
  <h4 class='text-center'>You have no pitches </h4>
{% endfor %}

{% endif %}
</div>

{% endblock %}