{% extends 'base.html'%}

{% block content %}

<div class="container">

<br><br><br><h2 class='amber-text ho1' style='text-decoration:underline;'>Promotion Pitches </h2><br>
<h2><a class="btn ho2 peach-gradient btn-lg text-center" href="{{url_for('main.new_pitch')}}"> Write a new pitch</a></h2>

{% for items in promotional[::-1] %}
<br>

<div class="container">
  <div class='row'>
  <div class='col-sm-9 col-md-9 col-lg-9'>
  
<!-- Card -->
<div class="card card-cascade wider">

  <!-- Card image -->
  <div class="view view-cascade gradient-card-header peach-gradient">

    <!-- Title -->
    <h2 class="card-header-title text-center mb-3">{{items.author.username| capitalize}}</h2>
    <!-- Text -->
    <p class="text-center mb-0"><i class="fas fa-calendar mr-2"></i>{{items.posted.strftime('%Y-%m-%d')}}</p>
    <p class="text-center mb-0"><i class="fas fa-list mr-2"></i>{{items.category}}</p>

  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Text -->
    <h4 class="card-text text-dark">{{items.pitch}}</h4>
    <!-- Link -->
    <a href="{{url_for('main.leave_comment', pitch_id = items.id)}}" class="orange-text d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Comments<i class="far fa-comments ml-2"></i></h5>
    </a>

  </div>
  <!-- Card content -->

</div>
<!-- Card -->

</div>
</div>
</div>
{% endfor %}
</div>

{% endblock  %}